<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
   
    <title>Interactive pricing component</title>
  </head>


  <body>
    <div id="app">

      <main>
        <header>
                  
            <h1>Simple, traffic-based pricing</h1>
            <p>
              Sign-up for our 30-day trial. No credit card required.
            </p>
         
        </header>


        <article v-scope>

          <div class="row">            
            
              <p class="pageviews">
                {{ selectedPrice.views }} Pageviews
              </p>            
          
              <p class="price"><span>$ {{ finalPrice }}</span> / month</p>
            
          </div>


         <div class="slider-container">
           <input class="slider" type="range" min="0" max="4" v-model="price" />
        </div>


          <div class="row2">
                        
              <p class="monthly">Monthly Billing</p>                              
              
                <input id="switch" type="checkbox" name="yearly" v-model="yearly" />
                <label for="switch"></label>
                        
              <p class="yearly">Yearly Billing</p>      

              <p class="discount">25% discount</p>           

          </div>
          
          
          <div class="row">

              <ul>
                <li>Unlimited websites</li>
                <li>100% data ownership</li>
                <li>Email reports</li>
              </ul>
                                   
             <a href="#trial" class="btn">Start my trial </a>
                                           
          </div>

        </article>
       </main>
    
      </div>

      <footer>
        <p> Challenge by <a href="https://www.frontendmentor.io/challenges/interactive-pricing-component-t0m8PIyY8"
            target="_blank"> Frontend Mentor</a>. Coded by <a href="https://halivert.dev">Halí</a> & <a href="https://github.com/Janselin">MaryF</a>.</p>
      </footer>


    <script type="module" src="/ts/main.ts"></script>

  </body>
</html>
